p {
    background-color: aqua;
}

.project-card
{
    display: flex;
    background-color: beige;
}

.project-card, .action-pane, .report-pane
{
    border-color: aquamarine;
}

.action-pane, .report-pane
{
    margin: 2em;
}