<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/assets/style.css"
          rel="stylesheet">
</head>
<body>

<img src="/assets/banner.png">

<button>New project</button>

<div class="project-card">
    <div class="action-pane">
        <p th:text="'Titre' + ${name} + '!'"/>
        <p th:text="'Spending time : xx'"/>
        <button>Play</button>
        <button>Pause</button>
        <button>Stop</button>
        <button>Delete</button>
    </div>
    <div class="report-pane">
        <p th:text="'This week : xx'"/>
        <p th:text="'Last week : xx'"/>


        <p th:text="'Monday, Tuesday, ...'"/>
    </div>
</div>
</body>
</html>